//Variables
$primary-color: hsl(18, 97%, 64%);
$secondary-color: hsl(40, 96%, 65%);
$neutral-color: hsl(42, 100%, 88%);
$special-color: hsl(191, 100%, 70%);
$hero-banner: url("../img/banner.jpg");

//resets
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
