//Colors
$secondary-color: hsl(18, 97%, 64%);
$primary-color: hsl(40, 96%, 65%);
$neutral-color: hsla(42, 100%, 88%, 0.2);
$special-color: hsl(191, 100%, 70%);
$white: #fff;

//Images
$hero-banner: url("../img/banner.jpg");

//Typography
$barlow: "Barlow", sans-serif;
$fraunces: "Fraunces", serif;

//resets
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}
